@import './root.css';

header {
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

header #header-icon {
  width: 4rem;
}

header #favorites-menu {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

header #favorites-menu img {
  width: 2rem;
}

header form {
  display: flex;
  width: 70%;
}

header form input[type="text"] {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1rem;
}

header form button {
  border: none;
  background-color: transparent;
  margin-left: -2rem;
  cursor: pointer;
}

header form button img {
  width: 1.5rem;
}

main {
  padding: 1rem;
}

#favorites {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background: #fff;
  box-shadow: -4px 0 12px rgba(0,0,0,0.2);
  padding: 20px;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  overflow-y: auto;
}

#favorites.active {
  transform: translateX(0);
}

#favorites .close-btn {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}

footer {
  background-color: var(--accent-color);
  padding: 1rem;
}

footer img {
  width: 3rem;
}

@media (min-width: 768px) {
  main {
    max-width: 72rem;
    margin: auto;
  }

  #favorites {
    width: 30%;
  }
}

@media (max-width: 768px) {
  header {
    height: 3rem;
  }

  header #header-icon {
    display: none;
  }

  #favorites {
    margin-left: 1rem;
    width: 80%;
  }
}
