<div>
  <h2>HighEnd Technology Store</h2>
  <p>Rua Lorem ipsum, 555</p>
  <p>Messejana, CEP 999-999</p>
  <p>info@lorem.org</p>
  <p>+55 (85) 99999-9999</p>
</div>
<div id="social-media">
  <img src="images/youtube.png" alt="YouTube link" />
  <img src="images/twitter.png" alt="Twitter link" />
  <img src="images/linkedin.png" alt="LinkedIn link" />
</div>
<div>
  <p>WDD231 Class Final Project</p>
  <p>
    Vinicius Alves, all images and icons were selected from
    <a href="https://www.flaticon.com/">flaticon.com</a> and
    <a href=""></a>

  </p>
  <p>&copy;<strong id="currentyear"></strong> HighEnd Technology Store</p>
  <p><strong id="lastModified"></strong></p>
</div>
